# env.sample : Crew AI 도구 생성시 기본적으로 필요한 환경 변수 예시.
# env.sample 을 같은 폴더에 .env 로 복사하여 각자 상황에 맞게  해당 키 값을 설정한 후 build.py 를 사용한다.

# company-llm-gateway or aws-bedrock or gemini
LLM_TYPE=

# DevX liteLLM 계정
DEVX_API_URL=
DEVX_API_KEY=
DEVX_MODEL=
DEVX_TEMPERATURE=0.0

# AWS Bedrock 계정
BEDROCK_MODEL=
BEDROCK_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BEDROCK_TOP_K=1   # 1~5 사이 권장 (작을수록  엄격한 결정성,  항상 최빈 토큰 선택)

# Gemini 계정 (gemini-2.5-flash, gemini-2.5-pro)
GEMINI_MODEL=
GEMINI_API_KEY=

# 모니터링
AGENTOPS_API_KEY=
CREWAI_TRACING_ENABLED=true

# AMP Deploy Info
CREWAI_AMP_URL=
CREWAI_AMP_KEY=

# MCP Info
SHARED_MCP_SERVER_URL=

# M365 OIDC 인증
AZURE_CLIENT_ID="xxx"
AZURE_TENANT_ID="xxx"

## MCP 미사용시 필요한 환경 변수
# Datadog 조회 설정
DD_API_KEY=
DD_APP_KEY=
DD_SITE=
# OutLook 설정
OUTLOOK_EMAIL=
OUTLOOK_PASSWORD=

# Gmail 설정 
GOOGLE_EMAIL=
GOOGLE_PASSWORD=  # 앱 비밀번호

# 수신자 이메일 주소
RECIPIENT_EMAIL=
#RECIPIENT_EMAIL=

# Teams Webhook URL 
TEAMS_WEBHOOK_URL=
