# DevX liteLLM 계정
DEVX_API_URL="https://devx-llm-gw-api.shinsegae-inc.com/v1/chat/completions"
DEVX_API_KEY=
DEVX_MODEL="bedrock/global.anthropic.claude-sonnet-4-6"
LLM_TYPE="company-llm-gateway"  # company-llm-gateway or aws-bedrock
DEVX_TEMPERATURE=0.0

# AWS Bedrock 계정
BEDROCK_MODEL="apac.anthropic.claude-sonnet-4-20250514-v1:0"
BEDROCK_REGION="ap-northeast-2"
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BEDROCK_TOP_K=1   # 1~5 사이 권장 (작을수록  엄격한 결정성,  항상 최빈 토큰 선택)

# 모니터링
AGENTOPS_API_KEY=
CREWAI_TRACING_ENABLED=true